body{
    background-color: aliceblue;

}

h1{
    background-color: rgb(3, 3, 48);
    border:3px solid ;
    color: lightcyan;
    border-width: 5px;
    border-radius: 15px;
    margin: 50px;
    text-align: center;
    font-size: 60px;
    padding: 20px;
}
a{

color: lightcyan;
text-decoration: none;

}

    
button{
    background-color: rgb(5, 5, 65);
    border-width: 5px;
    color: lightcyan;
    border-radius: 5px;
    font-size: 30px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    margin-left: 150px;
}
